
/* CONTROL */

.control {
  position: relative;
  margin-bottom: 30px;
  transform: translate3d(0, 0, 0); /* use GPU on iOS for smoother transitions */
}

.control .control-input-wrapper {
  position: relative;
}

/* CONTROL: LABEL */

.control-label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* CONTROL: FEEDBACK ICON */

.control-feedback-icon {
  position: absolute;
  top: 12px;
  right: 6px;
  width: 16px;
  height: 16px;
}

.control-feedback-icon--outside {
  right: -28px;
}

.control.is-invalid .control-feedback-icon {
  background-image: url('img/alert.svg');
}

.no-svg .control.is-invalid .control-feedback-icon {
  background-image: url('img/alert.png');
}

.control.is-valid .control-feedback-icon {
   background-image: url('img/tick_green.svg');
 }

.no-svg .control.is-valid .control-feedback-icon {
  background-image: url('img/tick_green.png');
}

.control.is-valid .control-feedback-icon--outside {
  background-image: url('img/tick_white.svg');
}

.no-svg .control.is-valid .control-feedback-icon--outside {
  background-image: url('img/tick_white.png');
}

/* CONTROL: FEEDBACK POINTER */

.control-feedback-message .tip--direction-up {
  margin-top: 6px;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom: 6px solid #a40051;
}

/* CONTROL: FEEDBACK MESSAGE */

.control-feedback-message {
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
  font-size: 14px;
  color: #fff;
}

.control-feedback-message.is-info {
  background-color: #03687a;
}

.control-feedback-message.is-error {
  background-color: #a40051;
}

.csstransitions .control-feedback-message {
  transition: height 0.5s;
}

.control-feedback-message__text {
  margin: 0;
  padding: 10px;
}

.control.is-invalid .control-feedback-message {
  display: block;
}

/* CONTROL: INPUT */

.control.is-invalid .control-input {
  background-color: #ffcccc;
}

/* CONTROL: INPUT: TEXT */

.control-input {
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 16px;
  font-family: "open sans", sans-serif;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: #fff;
}

.control-input--text {
  display: block;
  width: 100%;
  padding-right: 26px;
  line-height: 16px;
  -webkit-appearance: none;
}

/* CONTROL: INPUT: OPTION */

.control-input--option {
  display: inline-block;
  padding: 0;
  color: #fff;
  line-height: 36px;
  vertical-align: top;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #009623;
}

.control.is-invalid .control-input--option {
  background-color: inherit;
}

.control-input--option .control-input__option {
  display: block;
  float: left;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-right: 2px solid #fff;
}

.control-input--option .control-input__option:last-child {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  border-right: none;
}

.control-input--option .control-input__option input {
  vertical-align: text-top;
}

/* CONTROL: INPUT: DATE */

.control-input--date {
  line-height: 30px;
}

/* CONTROL: HELP MESSAGING === */

.control-help-trigger {
  display: inline-block;
  cursor: pointer;
}

.control-help-tip {
  position: absolute;
  width: 0;
  height: 0;
  top: 20px;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #444 transparent;
}

.control-help-message {
  position: relative;
  overflow: hidden;
  margin-top: 11px;
  color: #fff;
  font-weight: 300;
  text-transform: none;
  background-color: #444;
  transition: height 0.5s, margin-top 0.75s;
}

.control-help-message.is-collapsed {
  height: 0;
  margin-top: 0;
}

.control-help-message p {
  margin: 0;
  padding: 10px;
}

.control-required-message {
  float: right;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  text-transform: lowercase;
}
