
/* CONTROL:  MESSAGING === */

.control-required-message {
  float: right;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  text-transform: lowercase;
}

.control-input-label {
  margin: 0;
  color: #fff;
}
